@charset "UTF-8";
/* CSS Document */

html, body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
* {
	box-sizing: border-box;
}
.row:after {
	clear: both;
	content: "";
	display: block;
}
[class*="col-"] {
	float: left;
	padding: 0px;
}
.col-100 {
	width: 100%;
}
.col-75 {
	width: 75%;
}
.col-66 {
	width: 66.6%;
}
.col-50 {
	width: 50%;
}
.col-33 {
	width: 33.3%;
}
.col-25 {
	width: 25%;
}
.col-25-card {
	width: 25%;
}

.btn {
	border: 1px solid #fff;
	color: #fff;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	font-size: 200%;
	margin: 60px;
	transition: 0.5s;
}
.btn:hover {
	background-color: #fff;
	opacity: 0.6;
	color: #555;
}

.homeIMG {
	background-attachment: scroll;
	background-image: url("Images/home.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.paddingIMG {
	padding-top: 7%;
	padding-bottom: 17%;
}
.textIMG {
	text-align: center;
	color: #fff;
}
.textIMG h1 {
	font-size: 800%;
}
.textIMG p.slogan {
	font-size: 250%;
	font-style: italic;
}
#scroll {
	position: absolute;
	bottom: 0px;
	text-align: center;
}
iframe {
	display: block;
}
.sec h3 {
	font-size: 300%;
	color: #0054B8;
	text-align: center;
}
.subSec h3 {
	font-size: 200%;
	color: #272727;
	text-align: left;
	padding-left: 10%;
}
.subSec p {
	color: #373737;
	font-size: 125%;
	text-align: left;
	padding-left: 10%;
}
.sensorSec {
	margin: 30px;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
}
.iconTitle {
	font-size: 200%;
	color: #272727;
	text-align: center;
}
#icon {
	font-size: 300%;
	color: #0054B8;
}
.text {
	font-size: 175%;
	text-align: center;
	padding: 15px;
}
.iconText {
	color: #373737;
	font-size: 125%;
	text-align: center;
}
.img {
	width: 100%;
	height: auto;
	display: block;
	padding-right: 20%;
}

/*nav*/
#nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	overflow: hidden;
	background-color: rgba(57,123,75,1.00);
}
#nav li {
	float: left;
}
#nav li a {
	text-decoration: none;
	color: #fff;
	padding: 28px 32px;
	font-size: 125%;
	text-align: center;
	display: block;
	transition: 0.5s;
}
#nav li a:hover {
	background-color: rgba(25,54,33,1.00);
}

/*card*/
.card {
	width: 300px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.19), 0px 6px 20px 0px rgba(0,0,0,0.2);
	text-align: center;
	margin: 10px;
	background-color: #fff;
	margin-bottom: 20px
}
.card h3 {
	font-size: 175%;
	color: #0054B8;
	text-align: center;
	padding: 5px;
}
.card p.title {
	color: #626060;
	font-style: italic;
	padding: 5px;
}
.altBack {
	background-color: #F4F4F4;
}
.btnDark {
	border-width: 2px;
	border-style: solid;
	border-color: rgba(89,156,93,1);
	color: rgba(89,156,93,1);
	padding: 14px 16px;
	text-decoration: none;
	background-color: #fff;
	text-align: center;
	font-size: 200%;
	margin: 60px;
	transition: 0.5s;
}
.btnDark:hover {
	background-color: #0054B8;
	border-color: #0054B8;
	opacity: 0.6;
	color: #fff;
}

/*form*/
input[type*="text"], input[type*="email"] {
	font-size: 200%;
	border: none;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 15px;
	width: 85%;
	margin: 10px;
}
input[type*="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0; 
  border-radius: 0;
}

/*footer*/
#footer {
	padding: 10px;
	margin: 10px;
}
#footNav a {
	font-size: 125%;
	color: #272727;
	text-decoration: none;
	padding: 14px 16px;
	text-align: center;
	display: inline-block;
}

/*mobile*/
@media only screen and (max-width: 1366px) {
	.col-25-card {
		width: 100%;
	}
	.card {
		width: 500px;
	}
	.col-33 {
		width: 100%;
	}
	.col-66 {
		width: 100%;
	}
	.img {
		padding-right: 0px;
		margin: 0px;
	}
}
@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}
	.card {
		width: 300px;
	}
	.textIMG h1 {
	font-size: 600%;
	}
	.textIMG p.slogan {
		font-size: 200%;
	}
	input[type*="text"], input[type*="email"] {
		font-size: 130%;
	}
}
